@import '../settings/variables';
@import '../settings/mixins';

.filter {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $gray-dark;
    margin-bottom: 24px;

    &__sort {
        display: flex;
        align-items: center;

        &-text {
            opacity: 0.6;
            text-transform: uppercase;
        }
    }

    &__category-list {
        display: flex;
        margin: 0 -7px;

        .link {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            text-transform: uppercase;
            padding: 20px 0;
            text-decoration: none;

            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
            }
        }

        .item {
            position: relative;
            display: block;
            padding: 0 7px;

            &.active {
                .link {
                    &::after {
                        background-color: $red;
                    }
                }
            }
        }
    }
}

.dropdown {
    display: flex;
    align-items: center;

    &__arrow {
        fill: $red;
        display: inline-block;
        margin-left: 13px;
    }

    &__text {
        @include text-m;

        background-color: transparent;
        color: $white;
        padding-right: 0;
        padding-left: 16px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
}
